<link rel="stylesheet" href="Style.css"><table border="1" style="font-size:20px;">
<tr>
<th>Name</th><th>Soil</th><th>Origin</th><th>Stalk color</th><th>Petals color</th><th>Average size</th><th>Temperature</th><th>Lighting</th><th>Watering</th>
</tr>
<tr>
<td>anemone</td><td style="text-align:center">podzolic</td><td>Greece</td><td>ligth green</td><td>violet</td><td>15</td><td>20</td><td>false</td><td>300</td>
</tr>
<tr>
<td>bluebell</td><td style="text-align:center">unpaved</td><td>Eurasia</td><td>green</td><td>blue</td><td>10</td><td>18</td><td>true</td><td>100</td>
</tr>
<tr>
<td>daisy</td><td style="text-align:center">sod-podzolic</td><td>South Africa</td><td>dark green</td><td>white</td><td>7</td><td>15</td><td>true</td><td>200</td>
</tr>
<tr id="all">
<td>Count of flowers:</td><td colspan="9" style="text-align:right">3</td>
</tr>
</table>
