body{
    background-color: rgb(100,1,137);
    font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
    margin:0;
}
div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}


.buttons
{
	margin-left: 520px;
}

.item{
	border-width: 5px; 
    border-style: solid; 
    border-color: white;
}
.header-font{
	margin: 50px 200px;
	font-family: 'Monotype Corsiva';
}

.shadowtext {
    text-shadow: 1px 1px 9px red, 0 0 1em #ffd800;
    color:yellow; 
    font-size: 3em; 
    margin-left: 430px;
   }
 .panel{margin-top: 50px;}

.my-panel-body
{
	background: AntiqueWhite;
}

table{
	text-align: center;
	border-color: #f00;
	border: 4px double black;
	margin-left: 40px;
	
}
tr{
	border: 4px double black;
	
}
td,th{
	border: 4px double black;
	
}
tr:hover
{
    background: #fbe855;
    
}


