@CHARSET "UTF-8";
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.title {
	background-color: #ffff00;
}
.news-title {
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	background: none;
	border: none;
}
.news-title:hover {
	text-decoration: underline;
	color: #ff0066;
}
.news-title:active {
	outline: none;
}

.news-item {
	border: double;
}
.tag {
	background-color: #66ff99;
	border-radius: 10px;
	border: solid;
	border-color: #003311;
	padding: 5px;
	margin: 10px 0px 10px 5px;
}
.news-short-text {
	margin: 10px 0px 10px 0px;
}
.author {
	color: #ff0000;
}
.news-creation-date {
	float: right;
	text-decoration: underline;
}
.comments {
	display: none;
}
.comment {	
	border: double;
	width: 50%;
	background-color: #d1b3ff;
}
.comment-date {
	text-decoration: underline;
	color: #ff0000;
}
.toggle {
	margin: 10px 5px 10px 5px;
	text-decoration: underline;
	cursor: pointer;
}
.toggle:hover {
	color: #0000ff;
}
.container {
	width: 80%;
	margin: auto;
}
.post-comment-form {
	width: 50%;	
}
footer {
	border: double;
	position: fixed;
	bottom: 0px;
	left: 50%;
    transform: translatex(-50%);
	margin: 20px auto;
	
}
header {
	border: double;
	padding: 0px;
}
.move-button {
	text-transform: uppercase;
	text-decoration: underline;
	background: none;
	border: none;
	margin-top: 40px;
	margin-bottom: 40px;
}
.move-button:active {
	outline: none;
}
.next-button {
	float: right;
	
}
.previous-button {
	float: left;	
}
.line {
	display: inline-block;
	margin-bottom: 10px;
}

