body{
    background-color: rgba(14, 255, 41, 0.81);
    font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
    margin:5px;
}
body.index{
    background-color: Green;
    
}
.header-font{
	margin: 50px 200px;
	font-family: 'Monotype Corsiva';
	text-align: center;
}

.shadowtext {
    text-shadow: 1px 1px 9px red, 0 0 1em red;
    color:yellow; 
    font-size: 3em; 
 }
 .step
{
	width: 35%;
	margin-left: 400px;
	margin-bottom: 10px;
	margin-top: 100px;	
}
 .main-step
{
	width: 30%;
	margin-left: 400px;
	margin-bottom: 10px;
}
.my-panel-body
{
	background: AntiqueWhite;
}
.buttons
{
	margin-left: 30px;
	margin-top: 10px;
}
.buttons-list
{
	margin-left: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.next
{
	margin-left: 150px;
	margin-top: 10px;
}
.delete
{
	margin-left: 500px;
	margin-top: 10px;
}
.logoff
{
	margin-left: 180px;
	margin-top: 10px;
}
.lang
{
	margin-left: 900px;
}
.center-text
{
	text-align: center;
}
.usual-font{
	 font-family: 'Consolas';
	 font-weight: bold;
     font-size: 2em; 
     color: Indigo;
     margin-bottom: 10px;
}
.my-table
{
	background-color: AntiqueWhite;
}
.header
{
	background-color: DarkGreen;
	color:yellow;	
}
.image
{
	width: 55%;
	heigh: 55%;	
	margin-left: 250px;
}
tr.abituriens:hover
{
    background: #fbe855;
    
}